-title = 'Setup results'
-meta title: title
-#- source = setups_url
-#- caption = ""
-#- caption_twitter = ""
-#-description = ""
-#-thumb = ""
-#-keywords = %w{' '}
-#-meta title: title
  -#keywords: keywords,
  -#description: description,
  -#og: { title: :title,
    -#description: description,
    -#image: thumb,
    -#url: request.url,
  -#}
-#img_size =  browser.mobile? ? :index : :grande
-#cache ['v1', editor?,  img_size, @setups] do
- cache ['v1', editor?,  'results', @cache_key] do
  .container
    =render 'results'
