.footer{style: 'text-align:center;'}
  %p<
  Math Support Finder™ is a trademark of
  = link_to "Beneficent Technology, Inc.", 'http://benetech.org', target: "_blank"
  This website is © Copyright 2015, Benetech, Inc.