.footer
  %p<
  Math Support Finder™ is a trademark of
  = link_to "Beneficent Technology, Inc.", 'http://benetech.org', target: "_blank"
  This website is copyright © 2015 - 2016, Beneficent Technology, Inc.