.footer
  .row
    = image_tag "IDEA-logo.gif", :class => "img-responsive pull-left"
    Math Support Finder™ is a
    = link_to "Benetech", 'http://benetech.org', target: "_blank"
    initiative supported by the U.S. Department of Education, Office of Special Education Programs (Cooperative Agreement #H327B100001). Opinions expressed herein are those of the authors and do not necessarily represent the position of the U.S. Department of Education.