.footer
  .row{:class =>"rowpad"}
    = image_tag "IDEA-logo.gif", :class => "img-responsive pull-left leftpad"
    Math Support Finder™ is a
    = link_to "Benetech", 'http://benetech.org', target: "_blank"
    initiative supported by the U.S. Department of Education, Office of Special Education Programs (Cooperative Agreement #H327B100001). Opinions expressed herein are those of the authors and do not necessarily represent the position of the U.S. Department of Education.
    This website is copyright © 2015 - 2016, Beneficent Technology, Inc.
    = image_tag "benetech_logofull.transparent.gif", :class => "pull-right rightpad"