.footer
  .row{:class =>"rowpad text-center blue"}
    = image_tag "IDEA-logo.gif", :class => "img-responsive pull-left leftpad", :alt => ""
    Math Support Finder™ is a
    = link_to "Benetech", 'http://benetech.org', target: "_blank"
    initiative supported by the U.S. Department of Education, Office of Special Education Programs (Cooperative Agreement #H327B100001). Opinions expressed herein are those of the authors and do not necessarily represent the position of the U.S. Department of Education.

  .row{:class =>"rowpad text-center leftpad topad"}
    = image_tag "benetech_logofull.transparent.gif", :class => "pull-right rightpad", :alt => ""
    %p<
    Math Support Finder™ is a trademark of
    = link_to "Beneficent Technology, Inc.", 'http://benetech.org', target: "_blank"
    This website is copyright © 2015 - 2017, Beneficent Technology, Inc./
    .sr-only#alertbar{:role => "alert"}
