-title = "Editing #{@content_source_configuration}"
-meta title: title
-cache ['v1', admin?,  @content_source_configuration] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        = render 'form'
