- title= "Welcome to the Math Support Finder"
- if admin?
  -title += ", #{current_user}!"
-meta title: title,
  og: { title: title,
    url: request.url,
  }
- cache ['v1', admin?, 'home',  @cache_key] do
  .container
    %header
      %h1#page-title=title
    .row
      .col-md-6
        %p<
          The Math Support Finder is a discovery and reference tool for pairing math content sources with accessible setups.

      .col-md-6
        =render "setups/search"
    #setups-results-wrap{style: "display: none;"}
      =render "setups/results"
