- title= "Welcome to the Math Support Finder BETA"
- if admin?
  -title += ", #{current_user}!"
-meta title: title,
  og: { title: title,
    url: request.url,
  }
- cache ['v1', admin?, 'home',  @cache_key] do
  .container
    %header
      %h1#page-title=title

      %h3 Find Accessible Tools for Reading Math
      %p<
      Math Support Finder (MSF) is an online tool that helps you identify the right combination of technologies needed to read math accessibly. Simply select your favorite tool(s) and access mode(s), then let MSF show you the unique combination of technologies required to read math using braille, audio, or however you prefer.
      %p<
      - email_address = "msf@mathmlcloud.org."
      - title = url_encode "Math Support Finder Request"
      - body = "Hi Benetech,\n\nI would like to get involved.\n"
      - body += "\n\nThanks!"
      - body = url_encode body
      - mailto = "mailto:" + email_address + "?subject=" + title + "&body=" + body
      Math Support Finder is currently in BETA. We invite you to give it a try as well as share your feedback and additional requests. We are also interested in chatting with partners interested in developing more accessible math reading tools or individual looking to help grow our database of supported setups.
      = link_to "Contact us", mailto, target:"_blank"
      to get involved!
    %p
    .row
      .col-md-5
        %p
        %h3 How to use this tool:
        %ul#bullet
          %li
            Specify your preferences using the provided dropdown menus.
          %ul#bulletnest
            %li
              %strong Note:
              You do NOT need to specify a dropdown; they are all optional
            %li
              To specify multiple values for a dropdown, conduct separate searches or use the "Any..." option to select all values
          %p
          %li
            Or, click on the "Detect My Settings" button to have MSF auto-populate the dropdown options using your current device and technology settings.
          %p
          %li
            Or,view the full list of accessible setups using
            = link_to "Browse", '/setups/results', target: "_new"
            which is also available in the main navigation bar above.
      .col-md-7
        %p
        =render "setups/search"
    #setups-results-wrap{style: "display: none;"}
      =render "setups/results"
%script{:type=>"text/javascript"}
  var sg_div = document.createElement("div");
  sg_div.innerHTML = "<h1>You have been selected for a survey</h1><p>We appreciate your feedback!</p><p><a href=\"http://www.surveygizmo.com/s3/2310294/Math-Support-Matrix-User-Feedback\">Please click here start it now.</a> </p> <a href=\"#\" onclick=\"document.getElementById('sg-popup').style.display = 'none';return false;\">No, thank you.</a> ";
  sg_div.id = "sg-popup";
  sg_div.style.position = "absolute";
  sg_div.style.width = "500px";
  sg_div.style.top = "100px";
  sg_div.style.left = "400px";
  sg_div.style.backgroundColor = "#ffffff";
  sg_div.style.borderColor = "#000000 !important";
  sg_div.style.borderStyle = "solid";
  sg_div.style.padding = "20px";
  sg_div.style.fontSize = "16px";
  sg_div.focus();
  document.body.appendChild(sg_div);
