- title= "Welcome to the Math Support Matrix"
- if admin?
  -title += ", #{current_user}!"
-meta title: title,
  og: { title: title,
    url: request.url,
  }

.container
  %header
    %h1#page-title=title
  .row
    .col-md-6
      %p<
        The Math Support Matrix (MSM) is a discovery and reference tool for pairing math content sources with accessible setups.
      - if !current_user
        %p>
          = link_to "Create an account", new_registration_path(resource_name)
          or
          = link_to "log in", new_session_path(resource_name)

    .col-md-6
      =render "setups/search"
  #setups-results-wrap{style: "display: none;"}
    =render "setups/results"
