-title = "Editing #{@browser_reader_assistive_technology}"
-meta title: title
-cache ['v1', editor?,  @browser_reader_assistive_technology] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        = render 'form'
