-title = "Editing #{@renderer_version}"
-meta title: title
-cache ['v1', admin?,  @renderer_version] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        = render 'form'
