.container
  %h1 About Math Support Finder
  %p<
    With a wide range of technologies, operating systems, file formats, and other factors, it’s difficult to know which tools read math accessibly.
  %p<
    Math Support Finder makes it easier for people who want to read math differently to find the right tools for them. How do we do that? Our testers try out many technologies to identify the combinations that work. Then we share our findings through a searchable and easy-to-use online tool.
  %p<
    Math Support Finder is currently in BETA, and with the help of key community members, we look forward to updating it with additional setup details. MSF is a collaborative development project under Benetech, a Silicon Valley technology nonprofit that provides software tools and services to address pressing social needs. Partnerships contributions from the accessible math community including members of the
    = link_to "DIAGRAM Center ", 'http://diagramcenter.org', target: "_blank"
    and Sina Bahram of Prime Access Consulting make tools like this possible.
