-title = "Editing #{@platform_version}"
-meta title: title
-cache ['v1', admin?,  @platform_version] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        = render 'form'
