//home
$slide-inset: 5%
.slide
  width: 100%
  position: relative
  &.has-image
    img
      width: 100%
    .title
      position: absolute
      bottom: $slide-inset
      right: $slide-inset
  &.has-no-image
    .title
      top: $slide-inset
      left: $slide-inset
      position: absolute

caption
  ul
    list-style: none
dt, th
  font-weight: bold
dd
  margin-bottom: 1em
.description-image
  margin-bottom: 1em
  max-width: 100%

blockquote.blockquote
  margin-bottom: 0px

table
  th a
    font-weight: bold
  img
    max-width: 100px

ul
  list-style: initial

option:disabled
  display: none

.float-right
  float: right

html.turbolinks-progress-bar::before 
  background-color: $brand-primary !important
  height: 5px !important

.dropdown-menu > li > a
  color: #337ab7

//#footer
//  margin-top: 2em
//  text-align: center !important

#simple-search
  .form-group:last-child
    margin-bottom: 0
.detector
  margin-bottom: 1em

+table-row-variant('info', lighten($state-info-bg, 3%))
+table-row-variant('warning', lighten($state-warning-bg, 3%))
+table-row-variant('danger', lighten($state-danger-bg, 3%))
+table-row-variant('success', lighten($state-success-bg, 3%))

#setups-results .btn-group
  min-width: 75px
table.results 
  border: 1px solid #ddd
  > thead >  tr
    &:first-child 
      > th, > td
        border-top: 1px solid #ddd
        border-bottom: 0px solid #ddd
        border-left: 1px solid #ddd
        border-right: 1px solid #ddd
        i
          float: right
        
    &:last-child 
      > th, > td
        border-left: 1px solid #ddd
        border-right: 1px solid #ddd
        border-top: 0px solid #ddd
  .form-group
    margin-bottom: 0
  thead > tr > td, thead > tr > th, tbody > tr > td, tbody > tr > th
    vertical-align: middle
    text-align: center
  thead td.action
    border-bottom: 2px solid #ddd
    min-width: 200px
    button, a
      float: left
      margin-right: 5px

//show views
.new-link
  margin-bottom: ms(0)
  +min-screen($phone-wide + 1)
    float: right
.truncate-toggle
  font-size: 16px

//added for bullet point & text indentations
#bullet
  list-style-position: inside
  padding: 10px 0px 10px 20px
  list-style-type: disc
  text-indent: -1em

#bulletnest
  list-style-position: inside
  padding: 10px 0px 10px 20px
  list-style-type: circle
  text-indent: -1em
//
//.footer
//  text-align: center !important

img
  padding-right: 15px !important
  padding-left: 15px !important

.leftpad
  padding-left: 55px !important

.rightpad
  padding-right: 55px !important