//home
$slide-inset: 5%
.slide
  width: 100%
  position: relative
  &.has-image
    img
      width: 100%
    .title
      position: absolute
      bottom: $slide-inset
      right: $slide-inset
  &.has-no-image
    .title
      top: $slide-inset
      left: $slide-inset
      position: absolute

caption
  ul
    list-style: none
dt, th
  font-weight: bold
dd
  margin-bottom: 1em
.description-image
  margin-bottom: 1em
  max-width: 100%

blockquote.blockquote
  margin-bottom: 0px

table
  th a
    font-weight: bold
  img
    max-width: 100px

html.turbolinks-progress-bar::before 
  background-color: $brand-primary !important
  height: 5px !important

#footer
  margin-top: 2em

#simple-search
  .form-group:last-child
    margin-bottom: 0
#setups-results .btn-group
  min-width: 75px


//show views
.new-link
  margin-bottom: ms(0)
  +min-screen($phone-wide + 1)
    float: right

ul
  list-style: initial

option:disabled
  display: none

.float-right
  float: right

+table-row-variant('info', lighten($state-info-bg, 3%))
+table-row-variant('warning', lighten($state-warning-bg, 3%))
+table-row-variant('danger', lighten($state-danger-bg, 3%))
+table-row-variant('success', lighten($state-success-bg, 3%))

