- klass = "item danger"
-#- klass += capability.verification_status ? "success" : "warning"
%td{class: klass}
  =link_to affordance.feature, feature_path(affordance.feature)
  %span.label.label-danger.float-right
    Not available
