.row
  .col-md-8
    = to_html object.notes
  .col-md-4
    .panel.panel-default
      %h2.panel-heading Related to this setup
      %table.table
        %tbody
          = render "multi", multi: multi, object: object
