-object ||= nil
-multi ||= []

-multi.each do |m|
  - entities = object.send(m)
  - if entities.length > 0
    %tr
      -if m.titleize == "Browser Readers"
        %th{scope: "row"} Applications
      -else
        %th{scope: "row"}=m.titleize
      %td<
        %ul
          - entities.each do |entity|
            %li=link_to entity, send("#{m.singularize}_path", entity)
