<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Support Matrix</title>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Support Matrix</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to the Math Reading Support Finder!</h1>
                <p class="lead">Technology required to properly display and voice digital mathematics involves a complex matrix of readers/browsers, assistive technology, and rendering software. Find out what combination of tools can be used to access such content.</p>
                <p class="lead">Select your preferred formats and technologies for accessing math content.</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <h1>Search for supported configurations</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Desired Interaction</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4 col-xs-4">
                        Access Mode
                    </div>
                    <div class="col-md-6 col-xs-8">
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Technology Requirements</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-9 form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">
                                        Assistive Technology
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-6">
                                        Version
                                    </label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                          <option>1</option>
                                          <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                Platform
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                Reader
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                Renderer
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                Content Format
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <select class="form-control">
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <ul class="list-unstyled text-center">
            <li>Benetech</li>
            <li>2015</li>
        </ul>

    </div>
    <!-- /.container -->

</body>

</html>
